.settingsCard {
    margin-bottom: 16px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    &__title {
        margin: 0 !important;
    }
}
