@use "@/shared/presentation/styles/colors" as colors;
@use "@/shared/presentation/styles/dimensions" as dimensions;

.profileContainer {
    &__avatarSection {
        display: flex;
        align-items: center;
        gap: calc(dimensions.$padding / 1.5);
    }

    &__avatarWrapper {
        flex-shrink: 0;
    }

    &__avatarInfo {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__userName {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: calc(dimensions.$padding / 8);
    }

    &__location {
        display: flex;
        align-items: center;
        gap: calc(dimensions.$padding / 6);
        margin-top: calc(dimensions.$padding / 2);
        color: colors.$description;
        font-size: 13px;
    }

    &__fieldsGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: calc(dimensions.$padding / 1.5);
    }

    &__loading {
        [class~="ant-skeleton-title"] {
            margin: 0 !important;
            margin-bottom: 1rem !important;
        }

        &__avatarSection {
            display: flex;
            align-items: center;
            gap: calc(dimensions.$padding / 1.5);
        }
        
        &__avatarInfo {
            flex: 1;
        }
        
        &__fieldsGrid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: calc(dimensions.$padding / 1.5);
        }
        
        &__spacer {
            margin-bottom: calc(dimensions.$padding / 1.5);
        }
    }
}
