@use "@/shared/presentation/styles/dimensions.scss" as dimensions;
@use "@/shared/presentation/styles/mixins.scss" as mixins;

.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: dimensions.$padding;

    [data-text='title'] {
        font-size: 28pt;
        
        @include mixins.mediaMaxMD {
            font-size: 18pt;
        }

    }

    a {
        text-decoration: none;
    }

    &__lottie{
        padding: dimensions.$padding;
        mix-blend-mode: screen;

        @include mixins.mediaLG {
            width: 24rem;
            height: 24rem;
        }

        @include mixins.mediaXL {
            width: 24rem;
            height: 24rem;
        }
        
        @include mixins.mediaXXL {
            width: 36rem;
            height: 36rem;
        }
    }
}
