@use "@/shared/presentation/styles/colors.scss" as colors;
@use "@/shared/presentation/styles/dimensions.scss" as dimensions;

.navPopoverMenu {
    width: 200px;
    padding: calc(dimensions.$padding / 4);

    &__title {
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: rgba(colors.$black, 0.45);
        padding: calc(dimensions.$padding / 4) 0;
    }

    [class~="ant-menu"] {
        gap: 4px;
        display: flex;
        flex-direction: column;
        border: none !important;

        [class~="ant-menu-item"] {
            margin: 0;
            border-radius: 6px;
            transition: all 0.2s ease;
            width: 100%;

            &:hover {
                background: colors.$background;
            }
        }
    }
}
