@use "@/shared/presentation/styles/colors.scss" as colors;
@use "@/shared/presentation/styles/dimensions.scss" as dimensions;

.orderHeader {
    width: 100%;

    &__sectionLabel {
        display: block;
        font-size: 7pt;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: calc(dimensions.$padding / 2);
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    &__title {
        margin-top: 0;
    }
}
