@use "@/shared/presentation/styles/dimensions" as dimensions;

.countrySelect {
    &__flag {
        width: 1rem;
        height: 0.75rem;
        border-radius: calc(dimensions.$border-radius / 4);
    }

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
