@use "@/shared/presentation/styles/dimensions.scss" as dimensions;
@use "@/shared/presentation/styles/colors.scss" as colors;

.filePreviewMedia {
    &__skeleton {
        width: 100% !important;
        height: 240px !important;
        border-radius: dimensions.$border-radius;

        [class~="ant-skeleton-image"], [class~="ant-skeleton-node"] {
            width: 100% !important;
            height: 100% !important;
        }
    }

    &__skeletonIcon {
        font-size: 40px;
        color: rgba($color: colors.$text-muted, $alpha: 0.5);
    }

    &__image {
        max-width: 100%;
        max-height: 240px;
        border-radius: dimensions.$border-radius;
        object-fit: contain;
    }

    &__file {
        display: flex;
        align-items: center;
        gap: calc(dimensions.$padding / 2);
        padding: calc(dimensions.$padding / 4) 0;
    }

    &__fileIcon {
        font-size: 24px;
        color: colors.$text-muted;
    }
}
