@use "@/shared/presentation/styles/dimensions.scss" as dimensions;

.videoWizard {
    &__steps {
        padding-bottom: dimensions.$padding;
    }

    &__content {
        min-height: 300px;
        padding-top: calc(dimensions.$padding / 2);
    }
}
