@use 'colors.scss' as colors;
@use 'dimensions.scss' as dimensions;

[class~='text-error'] [class~='ant-layout-header'] {
    background: colors.$white;
    padding: 0 dimensions.$padding;
}

[class~='anticon'] {
    vertical-align: middle;
}

[class~='ant-form-item-with-help'],
[class~='ant-form-item-has-error'] {
    margin-bottom: dimensions.$padding !important;
}

[class~='ant-select-selection-placeholder'] {
    font-size: 14px;
}
[class~='ant-picker-large'] {
    padding: 10px 11px 10px !important;
    input {
        font-size: 14px !important;
    }
}
[class~='ant-picker-footer'] {
    a {
        text-decoration: none;
    }
}

[class~='ant-select-lg'] {
    [class~='ant-select-selector'] {
        height: 42px !important;
    }
}

[class~="ant-select-item"] {
    padding: 6px 12px !important;
}

[class~='ant-select-item-option-selected']:not(.ant-select-item-option-disabled) {
    background-color: rgba($color: colors.$link, $alpha: 0.1);
}
[class~='ant-select-selection-item'],
[class~='ant-select-selection-placeholder'] {
    display: flex;
    align-items: center;
}
[class~='ant-select-multiple'] {
    [class~='ant-select-selector'] {
        padding: 2.5px 4px !important;
    }
    [class~='ant-select-selection-item'] {
        height: 30px !important;
        line-height: 28px !important;
    }
}

[class~='ant-input-lg'],
[class~='ant-picker-large'],
[class~='ant-select-lg'] {
    width: 100%;
    font-size: 14px !important;
    padding: 10px 12px !important;
}

[class~='ant-input-number-lg'] {
    width: 100%;
    height: 42px;
    font-size: 14px !important;
}

[class~='ant-form-item-label'] {
    padding: 0 !important;
    label {
        display: flex;
        font-weight: 500;
        flex-flow: row-reverse;
        justify-content: flex-end;
        height: 0 !important;
        &::before {
            padding-left: 4px;
        }

        &::after {
            margin: 0 !important;
        }
    }
}

textarea,
input {
    &::-webkit-input-placeholder {
        font-size: 14px;
    }

    &:-moz-placeholder {
        font-size: 14px;
    }

    &::-moz-placeholder {
        font-size: 14px;
    }

    &:-ms-input-placeholder {
        font-size: 14px;
    }

    &::placeholder {
        font-size: 14px;
    }
}

[class~="ant-form-item-additional"]{
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;

    [class~='ant-form-item-explain-error'] {
        font-size: 12px;
    }
}

[class~='ant-modal-footer'],
[class~='ant-modal-confirm-btns'] {
    display: flex;
    justify-content: space-between;
    margin-top: dimensions.$padding * 2 !important;
    padding-top: dimensions.$padding !important;
    border-top: 1px solid colors.$border-light !important;
}

[class~='ant-modal-body'] {
    padding-bottom: 0 !important;
}

[class~='ant-input-password'] {
    [class~='ant-input-lg'] {
        padding: 0 !important;
    }
}

[class~="ant-alert-error"]{
    [class~='ant-alert-icon'] {
        font-size: 15pt !important;
    }

    [class~='ant-alert-message'] {
        font-weight: 500 !important;
        color: colors.$description !important;
    }
}

[class~='ant-alert-with-description'] {
    align-items: center !important;

    [class~='ant-alert-icon'] {
        font-size: 36pt !important;
    }

    [class~='ant-alert-close-icon'] {
        align-self: flex-start !important;
    }

    [class~='ant-alert-message'] {
        font-weight: 500 !important;
        margin-bottom: 0 !important;
        color: colors.$title !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        font-size: 11pt !important;
    }

    [class~='ant-alert-description'] {
        color: colors.$description !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 2 !important;
        line-clamp: 2 !important;
        -webkit-box-orient: vertical !important;
        font-size: 9pt !important;
    }
}

[class~='ant-btn-icon']{
    display: flex;
}

[class~="ant-dropdown-menu"] {
    gap: 4px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem !important;

    [class~="ant-dropdown-menu-item"] {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

[class~='ant-input-affix-wrapper-lg'] {
    input[class~="ant-input"] {
        padding: 2.5px !important;
    }
}

[class~="ant-input-data-count"]{
    font-size: 9.5pt;
}

[class~="ant-table-wrapper"] {
    table {
        border-collapse: separate !important;
        border-spacing: 0 calc(dimensions.$padding / 4) !important;
    }

    [class~="ant-table-measure-row"] {
        display: none !important;
    }

    [class~="ant-table-thead"] {
        > tr > th {
            border-bottom: none !important;
            background: colors.$background !important;
            padding: calc(dimensions.$padding / 2) !important;

            &:first-child {
                border-radius: dimensions.$border-radius 0 0 dimensions.$border-radius !important;
            }

            &:last-child {
                border-radius: 0 dimensions.$border-radius dimensions.$border-radius 0 !important;
            }
        }
    }

    [class~="ant-table-tbody"] {
        cursor: pointer;
        > tr > td {
            border-bottom: 1px solid colors.$border-table !important;
            border-top: 1px solid colors.$border-table !important;
            background: colors.$white;
            padding: calc(dimensions.$padding / 2) !important;

            &:first-child {
                border-left: 1px solid colors.$border-table !important;
                border-radius: dimensions.$border-radius 0 0 dimensions.$border-radius !important;
            }

            &:last-child {
                border-right: 1px solid colors.$border-table !important;
                border-radius: 0 dimensions.$border-radius dimensions.$border-radius 0 !important;
            }

            &:only-child {
                border: 1px solid colors.$border-table !important;
                border-radius: dimensions.$border-radius !important;
            }
        }

        > tr:hover > td {
            background: rgba(
                $color: colors.$background,
                $alpha: 0.4,
            ) !important;
        }
    }

    [class~="ant-table-selection-column"] {
        border-spacing: initial !important;
    }
}

[class~="ant-spin-spinning"] {
    [class~="ant-spin-dot"] {
        display: none !important;
    }

    &::after {
        content: "";
        display: block;
        width: 36px;
        height: 36px;
        margin: 0 auto;
        border-radius: 50%;
        border: 3px solid colors.$border-light;
        border-top-color: colors.$brand-primary;
        animation: spinProgress 0.8s linear infinite;
    }
}

[class~="ant-card-hoverable"]:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06) !important;
    border: 1px solid colors.$background-light !important;
}

@keyframes spinProgress {
    to {
        transform: rotate(360deg);
    }
}
