@use "@/shared/presentation/styles/dimensions.scss" as dimensions;
@use "@/shared/presentation/styles/colors.scss" as colors;

.dropZone {
    &__aspectRatio {
        padding: calc(dimensions.$padding / 6);

        [class~="ant-segmented-group"] {
            gap: 0.2rem;
        }
    }

    &__content {
        padding: dimensions.$padding;
    }

    &__icon {
        font-size: 40px;
        color: colors.$primary;
    }

    &__hint {
        font-size: 12px;
    }
}
