@use "@/shared/presentation/styles/colors" as colors;
@use "@/shared/presentation/styles/dimensions" as dimensions;

.modal {
    [class~="ant-modal-container"]{
        padding: calc(dimensions.$padding * 2) dimensions.$padding;
        padding-bottom: 0;
    }

    [class~="ant-modal-footer"] {
        display: flex;
        justify-content: space-between;
        padding: dimensions.$padding 0;
        border-top: 1px solid colors.$border-light;
    }

    [class~="ant-input-prefix"] {
        color: colors.$text-muted;
        font-size: 10.5pt;
    }
}
